a {
    color: #0074D9
}

figure {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

figure.floatright {
    max-width: 40%;
    width: auto\9*0.3; /* ie8 */
    height: auto;
    float: right;
}

figure.floatleft {
    max-width: 40%;
    width: auto\9*0.3; /* ie8 */
    height: auto;
    float: left;
}

figure.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

video {
    width: 100%  !important;
    height: auto !important;
}


/* custom css here */
html,
body {
  height: 100%;
}
.h-100 {
  height: 100%;
}

#holy {
  display: grid;
  /* auto: as wide as its content
   * fr: all available space */
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main side"
    "footer side";
}
#header {
    grid-area: header;
    margin-bottom: 2.5rem
}
#main {
  grid-area: main;
  max-width: 782px;
}
#side {
  grid-area: side;
  width: 230px;
}
#footer {
  grid-area: footer;
}
aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: auto;
}

/* Menu */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.dropdown-content:hover {
  visibility: visible;
  opacity: 1;
}
.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  top: 55px;
  right: 0;
  white-space: nowrap;
  min-width: 160px;
  z-index: 1;
}

/* TOC */
#toc {
  margin-top: 0.5rem;
  padding: 0.7rem;
}
/* #toc * { */
/*   list-style: none; */
/*   display: block; */
/*   overflow: hidden; */
/*   text-overflow: ellipsis; */
/* } */
#toc * {
    list-style: none;
}
#toc ul {
  padding-left: 0.8rem;
}
#toc li {
  margin-top: 0.3rem;
}

@media screen and (max-width: 1012px) {
  #holy {
    display: block;
  }
  #header {
  }
  #main {
    max-width: 1012px;
  }
  #side {
    display: none;
  }
}


/* Sidenotes */
/* incomplete */

article sidenote {
    float: right;
    clear: right;
    margin-right: -60%;
    margin-left: 0%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}


@media screen and (max-width: 1012px) {
article sidenote {
        display: none
        border: solid 1px #333;
        border-width: 1px ;
        float: right;
        clear: right;
        display: inline-block;
        margin: 0.25rem -4rem 0.75rem 1rem;
        padding: 0.25rem 0.5rem;
        width: 230px;
    }
}
